<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="content">
        <h:form>
             <h:outputText value="Usuário: ${request.userPrincipal.name}"
                             rendered="${not empty request.userPrincipal}"/>
            <div>
                <h:outputText value="PÁGINA PRINCIPAL"/>
            </div>
            <a href="${request.contextPath}/admin/admin.xhtml">Acesso do Administrador</a><br/>
            <a href="${request.contextPath}/prof/professor.xhtml">Acesso do Professor</a><br/>
            <a href="${request.contextPath}/aluno/aluno.xhtml">Acesso do Aluno</a><br/>
            <h:commandButton value="Logout" action="#{loginBean.logoutAction}" rendered="${not empty request.userPrincipal}"/>
        </h:form>
    </ui:define>
</ui:composition>
